html{
  text-align: center;
  background-color: rgb(176, 176, 255);
}
.App {
  text-align: center;
  background-color: rgb(176, 176, 255);
  
}

.secondBar{
  padding: 80px;
}

.bitch {

justify-content: center;
}
button>img {
  width: 30px;
  height: 30px;
}


/* div{
  padding: 10px;
} */

select{
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  
}

textarea{
  border: 3px solid black;
}